* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    color: #000000;
    font-family: 'Pretendard';
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background: #ffffff;
}

#main-container, #quiz-container, #result-container {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#main-container {
    display: flex;
}
#main-container img {
    max-width: 350px;
    height: auto;
    margin: 0px 0;
}
.question {
    margin-bottom: 0px;
}
.result {
    margin-top: 30px;
    padding: 20px;
    border: none;
    text-align: center;
}
.result img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
.point_text {
    color: rgb(248, 193, 129);
    font-weight: 700;
    font-size: 24px;
}
button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: rgb(203, 34, 34);
    color: #fff;
    transition: background-color 0.3s;
}
button:hover {
    background-color: rgb(135, 18, 18);
}
img {
    max-width: 100%;
    height: auto;
    margin: 0px;
}

    /* 모바일 화면용 스타일 */
@media (max-width: 760px) {
  img {
      max-width: 85%; /* 화면 너비의 90% */
      height: auto; /* 비율 유지 */
  }
  .result img, .question img {
      max-width: 85%;
  }
  button {
      max-width: 85%;
      font-size: 18px;
  }
}

    /* 데스크톱 화면용 스타일 */
@media (min-width: 761px) {
  img {
      max-width: 300px; /* 고정된 최대 크기 */
      height: auto; /* 비율 유지 */
  }
  .result img, .question img {
      max-width: 300px;
  }
}
